
/* Reset CSS */
html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Arial', sans-serif;
}

/* Global Styles */
body {
    background-color: #292C3A;
    line-height: 1.6;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 20px;
    color: #f4f4f4;
}

h1 {
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}

h2 {
    font-size: 30px;
    line-height: 1.3;
}

h3 {
    font-size: 24px;
    line-height: 1.4;
}

p {
    margin-bottom: 20px;
}

/* Links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Buttons */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

/* Form Styles */
input[type="text"],
textarea,
select {
    width: 100%;
    margin-left: -.4rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
}

/* Animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#task-list{
  background-color: #3c3c3c;   
  padding: 10px;
  border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    display: none;
}
li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f4f4f4;
    border: #464646 solid 2px;
    margin:.5rem 0rem;
    color: #454545;
    font-size: large;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
}
li button{
    background: #83bfff;
    border: none;
    padding: 0 15px ;
    color: #000000;
    font-weight: 700;
    border-radius: 7px;
    cursor: pointer;
}
.fadeInUp {
    animation: fadeInUp 0.5s ease-out;
}
.container {
    width: 600px; 
    box-sizing: border-box;
    padding:  2rem;
    background-color: #101322;
    border-radius: 18px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: auto;
}

form button{
    background: #1c64b1;
    border: none;
    padding: 10px 15px ;
    width: 102%;
    color: #000000;
    font-weight: 700;
    border-radius: 7px;
    cursor: pointer;
}
